{% extends "layout.html" %}
{% block content %}
{% if empty %}
{% else %}
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Box Plot</h6>
      </div>
      <div class="card-body">
        <p>This is a box plot. Select on variable you want to look at. Box plot provide visual statistical information
          on a numerical variable. From the plot, you will know if whether the data has outliers or not</p>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Select Variable</h6>
      </div>
      <div class="card-body">
        <form method="POST" action="/box">
          <div id="boxplotvarloop"></div>
          <script>
            var x = "";
            var i;
            var a = '{{ vars }}';
            var head = JSON.parse({{ variables | tojson }});
            for (i = 0; i < head.length; i++) {
              if (head[i] == a) {
                x += '<div class="form-check"><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios' + i + '" value="' + head[i] + '" checked><label class="form-check-label" for="exampleRadios' + i + '">' + head[i] + '</label></div>';
              } else {
                x += '<div class="form-check"><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios' + i + '" value="' + head[i] + '"><label class="form-check-label" for="exampleRadios' + i + '">' + head[i] + '</label></div>';
              }
            }
            document.getElementById("boxplotvarloop").innerHTML = x;
          </script>
          <hr>
          <button type="submit" id="btnFetch" class="btn btn-primary">Proceed</button>
          <div id="spinnerload" class="spinner-border text-success" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{vars}} Box Plot</h6>
      </div>
      <div class="card-body">
        <div id="myBox"></div>
        <script>
          var data = JSON.parse('{{ data | tojson }}');
          Plotly.newPlot('myBox', data);    
        </script>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}