{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-7">
    <div class="p-4">
      <div class="text-center">
        <h2 class="h333 text-gray-900 mb-4">Welcome to Maleo</h2>
        <div class="text-left">
          <p>Please write your name and upload your file. Click submit to proceed.</p>
        </div>
        <form action="/" method="POST" enctype="multipart/form-data" class="user">
          <div class="form-group">
            <input type="Name" class="form-control form-control-user" id="exampleInputName" name="inputName"
              placeholder="Name">
          </div>
          <div class="form-group">
            <input type="file" class="form-control-user" id="exampleInputFile" name="inputCSV" placeholder="InputFile">
            <button type="submit" id="btnFetch" class="btn btn-primary">Submit</button>
            <div id="spinnerload" class="spinner-border text-success" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <img src="/static/img/background.png" width="450" height="540" alt="Landing Page image">
  </div>
</div>


{% endblock %}